/* Feuille de style principale */
@font-face {
	font-family: 'Beabella';
	src: url('../fonts/Beabella.otf') format('opentype'),
		url('../fonts/BeabellaRegular.woff2') format('woff2'),
		url('../fonts/BeabellaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	background-color: gold;
	margin: auto;
	text-align: center;
}

header {
	background-color: black;
	text-align: left;
	margin: 2px 0 0 0;
	padding: 15px 10px 5px 20px;
	height: 80px;
}

main {
	clear: both;
	background-color: #FFE41E;
	margin: 10px 20px;
	padding: 15px;
	border: 2px ridge orange;
}


header img {
	float: left;
	background-color: white;
	border-radius: 50px;
	width: 64px;
	box-shadow: 0 0 20px pink;
}

header h1 {
	margin: 0px 0 0 80px;
	font-weight: bold;
	font-family: Beabella, Comic Sans MS, serif;
}

header h1 a {
	color: white;
	text-decoration: none;
}

figure img {
	border-radius: 20px;
	box-shadow: 0 0 20px pink;
}

figcaption {
	font-family: 'Comic sans MS';
}

/* TODO : 
	1. add some style for the buttons
	2. customize the color palette to your own taste
		choose something different from black/gold/pink
	3. import a custom font for the footer (from Google or elsewhere)
*/
